Source: ros-lunar-gmapping
Section: misc
Priority: extra
Maintainer: Vincent Rabaud <vincent.rabaud@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-lunar-catkin (>= 0.5.68), ros-lunar-nav-msgs, ros-lunar-nodelet, ros-lunar-openslam-gmapping, ros-lunar-roscpp, ros-lunar-rostest, ros-lunar-tf
Homepage: http://ros.org/wiki/gmapping
Standards-Version: 3.9.2

Package: ros-lunar-gmapping
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-lunar-nav-msgs, ros-lunar-nodelet, ros-lunar-openslam-gmapping, ros-lunar-roscpp, ros-lunar-tf
Description: This package contains a ROS wrapper for OpenSlam's Gmapping.
 The gmapping package provides laser-based SLAM (Simultaneous Localization and Mapping), as a ROS node called slam_gmapping. Using slam_gmapping, you can create a 2-D occupancy grid map (like a building floorplan) from laser and pose data collected by a mobile robot.
