Source: ros-noetic-gmapping
Section: misc
Priority: optional
Maintainer: ROS Orphaned Package Maintainers <ros-orphaned-packages@googlegroups.com>
Build-Depends: debhelper (>= 9.0.0), ros-noetic-catkin (>= 0.5.68), ros-noetic-nav-msgs, ros-noetic-nodelet, ros-noetic-openslam-gmapping, ros-noetic-roscpp, ros-noetic-rostest, ros-noetic-tf
Homepage: http://ros.org/wiki/gmapping
Standards-Version: 3.9.2

Package: ros-noetic-gmapping
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-noetic-nav-msgs, ros-noetic-nodelet, ros-noetic-openslam-gmapping, ros-noetic-roscpp, ros-noetic-tf
Description: This package contains a ROS wrapper for OpenSlam's Gmapping.
 The gmapping package provides laser-based SLAM (Simultaneous Localization and Mapping), as a ROS node called slam_gmapping. Using slam_gmapping, you can create a 2-D occupancy grid map (like a building floorplan) from laser and pose data collected by a mobile robot.
