Source: ros-kinetic-slam-gmapping
Section: misc
Priority: extra
Maintainer: Vincent Rabaud <vincent.rabaud@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin
Homepage: http://ros.org/wiki/slam_gmapping
Standards-Version: 3.9.2

Package: ros-kinetic-slam-gmapping
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-gmapping, ros-kinetic-openslam-gmapping
Description: slam_gmapping contains a wrapper around gmapping which provides SLAM capabilities.
